{% extends 'blog/base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        <div class="top-menu">
            <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus">添加文章</span></a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <span class="glyphicon glyphicon-user"> {{post.author}}</span>
            <P>{{ post.text|linebreaksbr }}</P>
        </div>
        <br>
    {% endfor %}
{% endblock %}