body {
    padding-left: 15px;
    background: #C5E0E0;
}

.login-style {
    width: 300px;
    height: 400px;
    background: #C8C5E0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1 {
    margin-left: 35px;
    font-size: 50px;
}

p {
    margin-left: 20px;
    font-size: 20px;
}

.btn {
    size: 20px;
    background: #C2EDCD;
    margin-left: 40%;
}